/* ADD YOUR STYLES HERE */

/*DATA TABLE*/
.data_table td, .data_table th{
	width: 125px;
	padding: 10px 100px 10px 0px;
}

.number {
	width: 30px;
	padding-right: 50px;
	text-align: center;
}

.data_table tr {
	border-bottom: lightgray 1px solid;
}

.data_table th {
	font-style: bold;
}

/*STATS*/
.stats {
	border-top: lightgray 1px solid;
	border-bottom: lightgray 1px solid;
	text-align: center;
	width: 30%;
}

.stats td {
	padding: 20px;
	width: 40px;
}

.stats .digits {
	font-size: 40px;
	font-weight: bolder;
}

.stats .text {
	color: lightgray;
	font-size: 12px;
}

/*BAR CHART*/
.bar_chart {
	width: 700px;
}

.bar_chart tr {
	padding: 3px 0px 3px 0px;
	height: auto;
}

.bar_chart th {
	text-align: right;
	padding-right: 5px;
	width: 90px;
}

.bar_chart .bar {
	background-color: peachpuff; /* Better than any other option, haha */
	color: white;
	padding: 3px;
	margin-bottom: 2px;
	border-radius: 0px 3px 3px 0px;
}

/*LIGHTBOX*/
.lightbox {
	background-color: #404040;
	height: 500px;
	width: 750px;
}

.lightbox .content {
	background-color: white;
	border-radius: 5px;
	height: 70%;
	width: 70%;
	margin: auto;
	padding: 15px;
}

.lightbox a {
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	color: white;
	background-color: #ff6666;
	border-radius: 5px;
	margin: 0px 5px 0px auto;
}